**/.idea
.idea/*
/**/.idea/*

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# mpeltonen/sbt-idea plugin
.idea_modules/

# CMake
cmake-build-*/

# Cursive Clojure plugin
.idea/replstate.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

# mpeltonen/sbt-idea plugin
.idea_modules/


**/.vscode  
.vscode/*
/**/.vscode/*

**/.DS_Store  
.DS_Store/*
/**/.DS_Store/*

**/.database.sqlite3  
.database.sqlite3/*
/**/.database.sqlite3/*

**/.another_db.sqlite3  
.another_db.sqlite3/*
/**/.another_db.sqlite3/*

**/.db.sqlite3 
.db.sqlite3/*
/**/.db.sqlite3/* 
